{% extends "base.html" %}
{% load static %}

{% block content %}
    
        <div id="home" class="w-100 g-0">
            <div class="content-container w-100 container-lg g-0">
                <div id="club-menu" class="row text-center pt-4">
                    <a href = "" class="col-4 col-sm-3 col-md-2"><img src="media/badges/Tottenham.png" class="badge-img p-2"></a>
                    <div class="col-4 col-sm-3 col-md-2"><a href=""><img src="media/badges/Liverpool.png" class="badge-img p-2"></a></div>
                    <div class="col-4 col-sm-3 col-md-2"><a href=""><img src="media/badges/Man_City.png" class="badge-img p-2"></a></div>
                    <div class="col-4 col-sm-3 col-md-2"><a href=""><img src="media/badges/Man_United.png" class="badge-img p-2"></a></div>
                    <div class="col-4 col-sm-3 col-md-2"><a href=""><img src="media/badges/Chelsea.png" class="badge-img p-2"></a></div>
                    <div class="col-4 col-sm-3 col-md-2"><a href=""><img src="media/badges/Arsenal.png" class="badge-img p-2"></a></div>
                    <div class="col-4 col-sm-3 col-md-2"><a href=""><img src="media/badges/Barcelona.png" class="badge-img p-2"></a></div>
                    <div class="col-4 col-sm-3 col-md-2"><a href=""><img src="media/badges/Real_Madrid.png" class="badge-img p-2"></a></div>
                    <div class="col-4 col-sm-3 col-md-2"><a href=""><img src="media/badges/Juventus.png" class="badge-img p-2"></a></div>
                    <div class="col-4 col-sm-3 col-md-2 d-none d-sm-inline"><a href=""><img src="media/badges/Celtic.png" class="badge-img p-2"></a></div>
                    <div class="col-4 col-sm-3 col-md-2 d-none d-sm-inline"><a href=""><img src="media/badges/Rangers.png" class="badge-img p-2"></a></div>
                    <div class="col-4 col-sm-3 col-md-2 d-none d-sm-inline"><a href=""><img src="media/badges/PSG.png" class="badge-img p-2"></a></div>
                </div>
                <div id="enter-button" class="col-12 text-center">
                    <a href="" class="btn btn-lg rounded-0 btn-blue hvr-sweep-to-right">Shop the whole collection</a>
                </div>
            </div>
        </div>
        
{% endblock %}