{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="overlay"></div>  
  <div id="home" class="w-100">
      <div class="content-container container text-center">
        <div id="club-menu" class="row d-flex flex-row justify-content-center">
          <div class="col-4 col-md-3 text-center mx-auto"><a href = "{% url 'products' %}?team=tottenham"><img src="{% static 'images/Tottenham.png' %}" alt="Tottenham Hotspur badge" class="badge-img mx-auto p-3"></a></div>
          <div class="col-4 col-md-3 text-center mx-auto"><a href = "{% url 'products' %}?team=liverpool"><img src="{% static 'images/Liverpool.png' %}" alt="Liverpool badge" class="badge-img mx-auto p-3"></a></div>
          <div class="col-4 col-md-3 text-center mx-auto"><a href = "{% url 'products' %}?team=manchester_city"><img src="{% static 'images/Man_City.png' %}" alt="Manchester City badge" class="badge-img mx-auto p-3"></a></div>
          <div class="col-4 col-md-3 text-center mx-auto"><a href = "{% url 'products' %}?team=manchester_united"><img src="{% static 'images/Man_United.png' %}" alt="Manchester United badge" class="badge-img mx-auto p-3"></a></div>
          <div class="col-4 col-md-3 text-center mx-auto"><a href = "{% url 'products' %}?team=chelsea"><img src="{% static 'images/Chelsea.png' %}" alt="Chelsea badge" class="badge-img mx-auto p-3"></a></div>
          <div class="col-4 col-md-3 text-center mx-auto"><a href = "{% url 'products' %}?team=arsenal"><img src="{% static 'images/Arsenal.png' %}" alt="Arsenal badge" class="badge-img mx-auto p-3"></a></div>
          <div class="col-4 col-md-3 text-center mx-auto"><a href = "{% url 'products' %}?team=celtic"><img src="{% static 'images/Celtic.png' %}" alt="Celtic badge" class="badge-img mx-auto p-3"></a></div>
          <div class="col-4 col-md-3 text-center mx-auto"><a href = "{% url 'products' %}?team=rangers"><img src="{% static 'images/Rangers.png' %}" alt="Rangers badge" class="badge-img mx-auto p-3"></a></div>
          <div class="col-4 col-md-3 text-center mx-auto"><a href = "{% url 'products' %}?team=juventus"><img src="{% static 'images/Juventus.png' %}" alt="Juventus badge" class="badge-img mx-auto p-3"></a></div>
          <div class="col-4 col-md-3 text-center mx-auto"><a href = "{% url 'products' %}?team=barcelona"><img src="{% static 'images/Barcelona.png' %}" alt="Barcelona badge" class="badge-img mx-auto p-3"></a></div>
          <div class="col-4 col-md-3 text-center mx-auto"><a href = "{% url 'products' %}?team=real_madrid"><img src="{% static 'images/Real_Madrid.png' %}" alt="Real Madrid badge" class="badge-img mx-auto p-3"></a></div>
          <div class="col-4 col-md-3 text-center mx-auto"><a href = "{% url 'products' %}?team=paris_saint-germain"><img src="{% static 'images/PSG.png' %}" alt="Paris Saint Germain badge" class="badge-img mx-auto p-3"></a></div>
        </div>
        <div id="enter-button" class="col-12 text-center mt-5">
            <a href="products" class="btn btn-lg rounded-0 btn-blue hvr-sweep-to-right mb-5">Shop the whole collection</a>
        </div>
      </div>
  </div>
        
{% endblock %}