/* --- GENERAL STYLES --- */

html {
    height: 100%;
}

/* Horizontal background by default */
body {
    background: url('/media/background_h.webp') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #0d0f18;
}

/* Vertical background in portrait mode */
@media (orientation: portrait) {
    body {
        background: url('/media/background_v.webp') no-repeat center center fixed;
        background-size: cover;
        height: 100vh;
    }
}

a {
    color: #0d0f18;
}

a:hover,
a:active,
a:focus {
    color: #4c588d;
}

.content-container {
    position: relative;
    top: 0;
    height: 100%;
}

.btn-blue,
.add-btn {
    background-color: #2c314f !important;
    border: 2px solid #fff2cd !important;
    color: #fff2cd !important;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus,
.add-btn:hover,
.add-btn:active,
.add-btn:focus {
    background-color: #2c314f;
    border: 2px solid #fff2cd;
    color: #fff2cd !important;
}

.btn-outline-blue,
.remove-btn {
    border: 2px solid  #2c314f;
    color: #2c314f;
}

.btn-outline-blue:hover,
.btn-outline-blue:active,
.btn-outline-blue:focus,
.remove-btn:hover,
.remove-btn:active,
.remove-btn:focus {
    border: 2px solid  #2c314f;
    background-color: #e0e0e0;
}

.btn-plain {
    color: #2c314f;
}

.btn-plain:hover,
.btn-plain:active,
.btn-plain:focus {
    color: #4c588d;
}


/* Sweep effect - code from https://github.com/IanLunn/Hover/blob/master/css/hover.css */

/* Sweep To Right */
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0d0f18;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Sweep To Left */
.hvr-sweep-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0d0f18;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  /* Sweep To Bottom */
  .hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0d0f18;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  
  /* Sweep To Top */
  .hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0d0f18;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
    opacity: 0.5;
	z-index: -1;
}

/* --- HOME --- */

.badge-img {
    max-width: 100px;
    max-height: 100px;
    opacity: 0.9;
}

.badge-img:hover,
.badge-img:active,
.badge-img:focus {
    opacity: 1;
    filter: brightness(1.1);
}

@media (min-height: 768px) and (min-width: 768px) {
    
    .badge-img {
        max-width: 140px;
        max-height: 140px;
    }
    
    #club-menu {
        top: 50px;
    }

}


/* --- HEADER --- */

.navbar-img {
    width: 150px;
}

.bg-blue {
    background: #2c314f;
}

.border-blue {
    border: 2px solid #2c314f;
}

.text-blue {
    color: #0d0f18;
}

.text-cream {
    color: #fff2cd;
}

.border-cream {
    border: 2px solid #fff2cd;
}

.dropdown-menu {
    min-width: 1rem;
    width: max-content;
    background-color:#fff2cd;
}

.dropdown-item {
    color: #0d0f18;
}

.search-box {
    background-color: #fff2cd;
}


/* --- PRODUCTS --- */

/* Flip animation for product cards */

.flip-card {
    perspective: 1000px;
  }
  
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 1%;
}

.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  background-color: white;
  position: relative;
}

.flip-card-back {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  overflow: auto;
}

.btt-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.btt-link {
    color: #2c314f;
    cursor: pointer;
}

/* --- MESSAGES --- */

.alert {
    width: max-content;
    position: fixed;
    top:20px;
    right: 20px;
    z-index: 999;
}

/* ALLAUTH FORMS */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
}

.allauth-form-inner-content input {
    border-color: #0d0f18;
    border-radius: 0;
    margin: 5px 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

/* FORMS */

.custom-form .form-control {
    color: #0d0f18;
    border: 1px solid #0d0f18;
}

.custom-form input::placeholder {
    color: #aab7c4;
}

.custom-form-input {
    box-sizing: border-box;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.custom-form .form-check {
    border-radius: 0;

}

.custom-form-input:focus,
.custom-form-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}
    
.custom-form .fieldset-label {
    position: relative;
    right: 0.4rem;
}
 
.custom-form select,
.custom-form select option {
      color: #0d0f18;
      -moz-appearance: menulist !important; 
      -webkit-appearance: menulist !important;
}

#div_id_signed,
#div_id_player_issue {
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#div_id_player_issue .checkboxinput,
#div_id_signed .checkboxinput {
    border-radius: 0;
    padding: 0 !important;
    margin: 0 !important;
    margin-right: 0.5em !important;
}