html {
    height: 100%;
}

#home {
    position: relative;
    background: url('/media/background_logo_v.webp') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

/* Horizontal background on md viewports and above */
@media (min-width: 768px) {
    #home {
        position: relative;
        background: url('/media/background_logo_h.webp') no-repeat center center;
        background-size: cover;
        height: 100vh;
    }
  }

.content-container {
    position: absolute;
    top: 0;
}