<div id="message-container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissable d-flex align-items-center rounded-0 border-2 {% if message.tags %}{{ message.tags }}{% endif %}">
                <span class="mx-auto p-1">
                    {% if 'alert-success' in message.tags %}<i class="bi bi-check-circle-fill"></i> Back of the net!{% endif %}
                    {% if 'alert-info' in message.tags %}<i class="bi bi-info-circle-fill"></i> Match update:{% endif %}
                    {% if 'alert-warning' in message.tags %}<i class="bi bi-exclamation-triangle-fill"></i> Warning:{% endif %}
                    {% if 'alert-danger' in message.tags %}<i class="bi bi-exclamation-circle-fill"></i> What a miss!{% endif %}
                </span>
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
</div>