{% extends "base.html" %}
{% load static %}

{% block content %}    
    <div class="overlay"></div>
    <div class="content-container container-fluid">
        <div class="row">
            <div id="400-container" class="col-10 offset-1 bg-light p-3">
                <div class="row">
                    <div class="col-12 mb-2">
                        <h1>That missed the target!</h1>
                        <p>Sorry, but there was an error. Please browse to another page using the menu above.</p>
                    </div>
                </div>                   
            </div>
        </div>        
    </div>
{% endblock %}